In [ ]:
# This is a single-line comment

In [ ]:
"""
This is a multi-line comment.
It can span across multiple lines.
"""

In [ ]:
# This is a multi-line comment
# It can span across multiple lines

In [5]:
# Variable declaration and assignment
name = "John"
age = 25
salary = 5000.00
is_student = False

In [ ]:
#int(): Converts a value to an integer data type. It can handle floating-point numbers, strings containing numeric characters, or even other numeric types like float or bool.

In [6]:
num_float = 3.14

In [7]:
num_int = int(num_float)

In [8]:
print(num_int)

3

In [9]:
#float(): Converts a value to a floating-point data type. It can convert integers, strings with numeric characters, or other numeric types.

In [10]:
num_int = 5
num_float = float(num_int)

In [11]:
print(num_float)

5.0

In [12]:
#str(): Converts a value to a string data type. It can convert integers, floating-point numbers, Booleans, or any other data type.

In [13]:
num_int = 10
num_str = str(num_int)

In [14]:
print(num_str)

10

In [15]:
#bool(): Converts a value to a Boolean data type. It can convert integers, floating-point numbers, strings, or other data types. Any value that is considered "truthy" (non-zero, non-empty, or True) will be converted to True, and "falsy" values (zero, empty, or False) will be converted to False.

In [16]:
num_int = 0
is_true = bool(num_int)

In [17]:
print(is_true)

False

In [18]:
#list(), tuple(), and set(): These functions convert iterable objects like lists, tuples, or strings to their respective data types. They can also be used to create new instances of those data types.

In [19]:
str_value = "Hello"

In [20]:
list_value = list(str_value)

In [21]:
print(list_value)

['H', 'e', 'l', 'l', 'o']

In [22]:
tuple_value = tuple(str_value)

In [23]:
print(tuple_value)

('H', 'e', 'l', 'l', 'o')

In [24]:
set_value = set(str_value)

In [25]:
print(set_value)

{'e', 'o', 'H', 'l'}

In [26]:
# script.py
num1 = 10
num2 = 5
sum = num1 + num2

In [27]:
print("The sum is:", sum)

The sum is: 15

In [28]:
#To slice a list and obtain a sub-list [2, 3] from the given list my_list = [1, 2, 3, 4, 5], you can use the indexing feature in Python. Here's the code to achieve that:

In [29]:
my_list = [1, 2, 3, 4, 5]
sub_list = my_list[1:3]

In [30]:
print(sub_list)

[2, 3]

In [31]:
#In Python, complex numbers are represented using the complex data type. The imaginary unit is represented by j instead of i in Python. The syntax to define a complex number in Python is as follows:

In [ ]:
z = a + bj

In [33]:
z1 = 3 + 2j
z2 = -1.5 + 0.5j

In [34]:
z1 = 3 + 2j
z2 = -1.5 + 0.5j

sum = z1 + z2
product = z1 * z2
absolute_value = abs(z1)

In [35]:
print("Sum:", sum)

Sum: (1.5+2.5j)

In [36]:
print("Product:", product)

Product: (-5.5-1.5j)

In [37]:
print("Absolute Value:", absolute_value)

Absolute Value: 3.605551275463989

In [38]:
age = 25

In [39]:
print("Age:", age)

Age: 25

In [40]:
price = 9.99

In [41]:
print(type(price))

<class 'float'>

In [43]:
name = "dimpy choudhry"

In [44]:
print(name)

dimpy choudhry

In [45]:
string = "Hello, World!"
substring = string[7:12]

In [46]:
print(substring)

World

In [47]:
is_student = True

In [48]:
print(is_student)

True